@import "../settings.scss";
@import "./fonts.scss";

// ----- CSS RESET ----- //
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    text-size-adjust: 100%;
}

// ----- GLOBAL STYLES ----- //
body {
    font-family: lato, sans-serif;
}

// ----- ELEMENT STYLES ----- //
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}