@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

div {
    header {
        align-items: center;
        background: rebeccapurple;
        display: flex;
        font-family: lato, sans-serif;
        flex-direction: row;
        height: 90px;
        justify-content: space-between;
        margin-bottom: 1.45rem;
        max-width: 960;
        padding: 1.45rem 1.0875rem;
        // position: fixed;
        position: relative;
        margin: 0 auto;
        width: 100%;
        z-index: 2;
        h1 {
            margin: 0;
            a {
                color: white;
                text-decoration: none;
            }
        }
        nav {
            #burger {
                align-self: center;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                margin: 2px;
                padding: 5px;
                .line {
                    background: white;
                    height: 3px;
                    margin: 4px;
                    transition: all 600ms ease-in-out;
                    width: 40px;
                }
                -webkit-tap-highlight-color: transparent;
            }
            .toggle1 {
                transform: rotate(-45deg) translate(-5px, 11px);
            }
            .toggle2 {
                opacity: 0;
            }
            .toggle3 {
                transform: rotate(45deg) translate(-5px, -11px);
            }
            ul {
                display: none;
                list-style: none;
                margin: auto;
                li {
                    margin: auto;
                    a {
                        border-bottom: solid 2px rgba(255, 255, 255, 0);
                        color: white;
                        margin: 10px;
                        padding-bottom: 2px;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover {
                            border-bottom: solid 2px rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }
    #navSlider {
        background: rebeccapurple;
        margin: auto;
        position: absolute;
        transition: top 800ms ease-in-out;
        width: 100%;
        z-index: 1;
        ul {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40vh;
            list-style: none;
            margin: 0;
            li {
                margin: 15px;
                a {
                    border-bottom: solid 2px rgba(255, 255, 255, 0);
                    color: white;
                    margin: 10px;
                    padding-bottom: 2px;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        border-bottom: solid 2px rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
    .slide-up {
        top: -100vh;
    }
    .slide-down {
        top: 90px;
    }
}

@media (min-width: 768px) {
    div {
        header {
            nav {
                #burger {
                    display: none;
                }
                ul {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}