@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

header {
    background: rebeccapurple;
    font-family: lato, sans-serif;
    margin-bottom: 1.45rem;
    max-width: 960;
    padding: 1.45rem 1.0875rem;
    div {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        
        h1 {
            margin: 0;
            a {
                color: white;
                text-decoration: none;
            }
        }
        nav {
            #burger {
                align-self: center;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                margin: 2px;
                padding: 5px;
                // z-index: 2;
                .line {
                    background: white;
                    height: 3px;
                    margin: 4px;
                    transition: all 500ms ease-in-out;
                    width: 40px;
                }
                -webkit-tap-highlight-color: transparent;
            }
            .toggle1 {
                transform: rotate(-45deg) translate(-5px, 11px);
            }
            .toggle2 {
                opacity: 0;
            }
            .toggle3 {
                transform: rotate(45deg) translate(-5px, -11px);
            }
            ul {
                display: none;
                list-style: none;
                margin: auto;
                li {
                    margin: auto;
                    a {
                        border-bottom: solid 2px rgba(255, 255, 255, 0);
                        color: white;
                        margin: 10px;
                        padding-bottom: 2px;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover {
                            border-bottom: solid 2px rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        div {
            nav {
                #burger {
                    display: none;
                }
                ul {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}