// ----- IMPORTED FONTS ----- //
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

// ----- SASS VARIABLES ----- //
$mediumGrey: rgb(128,128,128);
$darkGrey: rgb(90,90,90);
$inscopeBlue: rgb(78,103,167);
$salmonBerry: rgb(202,65,57);
$limeGreen: rgb(49,178,73);
$burntYellow: rgb(206,159,6);

// ----- SASS MIXINS ----- //
@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

// ----- CSS RESET ----- //
* {
    box-sizing: border-box;
    margin: 0;
    // overflow-y: scroll;
    padding: 0;
    position: relative;
    text-size-adjust: 100%;
}

// ----- PAGE STYLES ----- //
body {
    font-family: lato, sans-serif;
}

// ----- COMPONENT STYLES ----- //
@import "./headerStyles";

// ----- ELEMENT STYLES ----- //
div {
    main {
        section {
            #title {
                padding-top: 14vh;
                min-height: calc(100vh - 270px);
                h1, h2 {
                    font-size: 3rem;
                    margin: 0 auto;
                    max-width: 95%;
                    text-align: center;
                }
                h1 {
                    color: $inscopeBlue;
                }
                div {
                    @include flex (column, center);
                    margin: 1.6rem auto;
                    max-width: 80%;
                    a {
                        align-self: center;
                        border: 2px solid rgba(0,0,0,0);
                        border-radius: 1rem;
                        color: white;
                        font-size: 1.1rem;
                        height: 3rem;
                        line-height: 2.8rem;
                        margin: 0.8rem;
                        text-align: center;
                        text-decoration: none;
                        width: 12.4rem;
                    }
                    :first-child {
                        background: $salmonBerry;
                        transition: all 200ms ease-in-out;
                        &:hover {
                            background: white;
                            border: 2px solid $salmonBerry;
                            color: black;
                        }
                    }
                    :last-child {
                        background: $mediumGrey;
                        transition: all 200ms ease-in-out;
                        &:hover {
                            background: white;
                            border: 2px solid $mediumGrey;
                            color: black;
                        }
                    }
                }
            }
            ul {
                @include flex (column, center);
                background: $inscopeBlue;
                height: 270px;
                list-style: none;
                margin: 0 auto;
                li {
                    color: white;
                    margin: 2rem;
                    padding-left: 20vw;
                    :first-child {
                        color: white;
                        font-size: 1.2rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
    
    footer {
        background: $inscopeBlue;
        // bottom: 0;
        color: white;
        height: 90px;
        padding: 20px;
        // position: absolute;
        width: 100%;
        p {
            margin: 10px auto;
            text-align: center;
        }
    }
}

// ----- MEDIA QUERIES ----- //
@media only screen and (max-width: 480px) {
    html {
      font-size: 100%;
    }
}

@media (min-width: 768px) {
    div {
        main {
            section {
                #title {
                    min-height: calc(100vh - 210px);
                    margin: 0 auto;
                    max-width: 80%;
                    padding-top: 20vh;
                    div {
                        @include flex (row, center);
                        margin: 0 auto;
                        a {
                            font-size: 1rem;
                            height: 2.7rem;
                            line-height: 2.4rem;
                            margin: 2rem;
                            width: 10.2rem;
                        }
                    }
                }
                ul {
                    @include flex (row, space-around);
                    height: 120px;
                    li {
                        align-self: center;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}