// ----- IMPORTED FONTS ----- //
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

// ----- SASS VARIABLES ----- //
$mediumGrey: rgb(128,128,128);
$darkGrey: rgb(90,90,90);
$inscopeBlue: rgb(78,103,167);
$salmonBerry: rgb(202,65,57);
$limeGreen: rgb(49,178,73);
$burntYellow: rgb(206,159,6);

$headerHeight: 70px;

// ----- SASS MIXINS ----- //
@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

// ----- CSS RESET ----- //
* {
    box-sizing: border-box;
    margin: 0;
    // overflow-y: scroll;
    padding: 0;
    position: relative;
    text-size-adjust: 100%;
}

// ----- GLOBAL STYLES ----- //
body {
    font-family: lato, sans-serif;
}

// ----- ELEMENT STYLES ----- //
.link-btn {
    border: 2px solid rgba(0,0,0,0);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

// ----- COMPONENT STYLES ----- //
@import "../components/header/headerStyles";
@import "../components//banner/bannerStyles";
@import "../components/footer/footerStyles";

// ----- PAGE STYLES ----- //
div {
    main {
        #info {
            margin: 50px auto;
            .section {
                margin: 20px auto;
                .img-container {
                    height: 90vw;
                    margin: 20px auto;
                    overflow: hidden;
                    width: 90vw;
                    img {
                        max-height: 90vw;
                    }
                }
                .content-container {
                    @include flex (column, space-around);
                    h4 {
                        font-size: 2rem;
                        margin: 20px auto;
                        text-align: center;
                        width: 90%;
                    }
                    a {
                        background: $salmonBerry;
                        color: rgb(255,255,255);
                        margin: 0 auto;
                        padding: 0.7rem 1rem;
                    }
                }
            }
        }
        #last-section {
            @include flex(row, space-around);
            background: $inscopeBlue;
            img {
                height: 400px;
                width: 400px;
            }
            h4 {
                color: rgb(255,255,255);
                font-size: 2rem;
                text-align: center;
            }
        }
    }
}

// ----- MEDIA QUERIES ----- //
@media only screen and (max-width: 480px) {
    html {
      font-size: 100%;
    }
}

@media (min-width: 768px) {
    div {
        main {
            #info {
                margin: 50px auto;
                .section {
                    margin: 10px auto;
                    @include flex (row, center);
                    .img-container {
                        height: 400px;
                        margin: 10px;
                        width: 400px;
                        img {
                            height: 400px;
                        }
                    }
                    .content-container {
                        @include flex (column, center);
                        height: 400px;
                        margin: 10px;
                        width: 400px;
                        h4 {
                            padding: 1.2rem;
                        }
                        a {
                            padding: 0.7rem 1.3rem;
                        }
                    }
                }
                .section:last-child {
                    flex-direction: row-reverse;
                }
            }
        }
    }
}