@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  font-family: lato, sans-serif;
}

div header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: gray;
  font-family: lato, sans-serif;
  height: 90px;
  margin-bottom: 1.45rem;
  max-width: 960;
  padding: 1.45rem 1.0875rem;
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}

div header h1 {
  margin: 0;
}

div header h1 a {
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.1;
  margin-left: 2rem;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

div header nav #burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  margin: 2px;
  padding: 5px;
  -webkit-tap-highlight-color: transparent;
}

div header nav #burger .line {
  background: white;
  height: 3px;
  margin: 4px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  width: 40px;
}

div header nav .toggle1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 11px);
          transform: rotate(-45deg) translate(-5px, 11px);
}

div header nav .toggle2 {
  opacity: 0;
}

div header nav .toggle3 {
  -webkit-transform: rotate(45deg) translate(-5px, -11px);
          transform: rotate(45deg) translate(-5px, -11px);
}

div header nav ul {
  display: none;
  list-style: none;
  margin: auto;
}

div header nav ul li {
  margin: auto;
}

div header nav ul li a {
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  color: white;
  margin: 1.5rem;
  padding-bottom: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

div header nav ul li a:hover {
  border-bottom: solid 2px white;
}

div #navSlider {
  background: gray;
  margin: auto;
  position: absolute;
  -webkit-transition: top 400ms ease-in-out;
  transition: top 400ms ease-in-out;
  width: 100%;
  z-index: 1;
}

div #navSlider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 240px;
  list-style: none;
  margin: 0;
}

div #navSlider ul li {
  margin: 15px;
}

div #navSlider ul li a {
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  color: white;
  margin: 10px;
  padding-bottom: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

div #navSlider ul li a:hover {
  border-bottom: solid 2px white;
}

div .slide-up {
  top: -150px;
}

div .slide-down {
  top: 90px;
}

@media only screen and (min-width: 768px) {
  div header nav #burger {
    display: none;
  }
  div header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.link-btn {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
}

div main #title-container #title {
  padding-top: 14vh;
  min-height: calc(100vh - 270px);
}

div main #title-container #title h1, div main #title-container #title h2 {
  font-size: 3rem;
  margin: 0 auto;
  max-width: 95%;
  text-align: center;
}

div main #title-container #title h1 {
  color: #4e67a7;
}

div main #title-container #title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.6rem auto;
  max-width: 80%;
}

div main #title-container #title div a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 1.1rem;
  height: 3rem;
  line-height: 2.8rem;
  margin: 0.8rem;
  width: 12.4rem;
}

div main #title-container #title div :first-child {
  background: #ca4139;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

div main #title-container #title div :first-child:hover {
  background: white;
  border: 2px solid #ca4139;
  color: black;
}

div main #title-container #title div :last-child {
  background: gray;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

div main #title-container #title div :last-child:hover {
  background: white;
  border: 2px solid gray;
  color: black;
}

div main #title-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4e67a7;
  height: 270px;
  list-style: none;
  margin: 0 auto;
}

div main #title-container ul li {
  color: white;
  margin: 2rem;
  padding-left: 20vw;
}

div main #title-container ul li :first-child {
  color: white;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

div main #info div {
  margin: 20px auto;
}

div main #info div .img-container {
  height: 90vw;
  margin: 20px auto;
  overflow: hidden;
  width: 90vw;
}

div main #info div .img-container img {
  max-height: 90vw;
}

div main #info div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div main #info div div h4 {
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
  width: 90%;
}

div main #info div div a {
  background: #ca4139;
  color: white;
  margin: 0 auto;
  padding: 0.7rem 1rem;
}

div footer {
  background: #4e67a7;
  color: white;
  height: 90px;
  padding: 20px;
  width: 100%;
}

div footer p {
  margin: 10px auto;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 768px) {
  div main #title-container #title {
    min-height: calc(100vh - 210px);
    margin: 0 auto;
    max-width: 80%;
    padding-top: 20vh;
  }
  div main #title-container #title div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  div main #title-container #title div a {
    font-size: 1rem;
    height: 2.7rem;
    line-height: 2.4rem;
    margin: 2rem;
    width: 10.2rem;
  }
  div main #title-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 120px;
  }
  div main #title-container ul li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 0;
  }
  div main #info div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px auto;
  }
  div main #info div .img-container {
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    width: 400px;
  }
  div main #info div .img-container img {
    max-height: 400px;
  }
  div main #info div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  div main #info div div h4 {
    font-size: 2rem;
    margin: 20px auto;
    text-align: center;
    width: 90%;
  }
  div main #info div div a {
    padding: 0.7rem 1.3rem;
  }
}
/*# sourceMappingURL=layout_styles.css.map */