footer {
    background: $inscopeBlue;
    // bottom: 0;
    color: white;
    height: 90px;
    padding: 20px;
    // position: absolute;
    width: 100%;
    p {
        margin: 10px auto;
        text-align: center;
    }
}