@import "../../styles/config.scss";

.thumbnail {
    @include flex (column, start);
    margin: 20px 0;
    img {
        margin: 0 auto 12px;
        width: 150px;
    }
    h3 {
        margin: 1px auto;
    }
    h4 {
        font-size: 0.95rem;
        font-weight: normal;
        margin: 2px auto;
        text-align: center;
        width: 150px;
    }
    .socialIcons {
        @include flex (row, center);
        .iconContainer {
            height: 20px;
            margin: 10px 6px 0;
            width: 20px;
            img {
                cursor: pointer;
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px), (max-height: 480px) {
    .thumbnail {
        margin-right: 6.25%;
        width: 25%;
        img, h4 {
            width: 170px;
        }
        &:nth-child(3n+5), &:nth-child(2n+2) {
            margin: 20px 6.25% 30px;
        }
        &:nth-child(3n), &:last-child {
            margin: 20px 0 30px 6.25%;
        }
        &:nth-child(3n+4) {
            margin: 20px 6.25% 30px 0;
        }
    }
}

@media (min-width: 1024px) {
    .thumbnail {
        img, h4 {
            width: 190px;
        }
    }
}

@media (min-width: 1280px) {
    .thumbnail {
        width: 20%;
        margin-right: 3.33%;
        &:nth-child(4n+3), &:nth-child(2n+2) {
            margin: 20px 3.33% 30px;
        }
        &:nth-child(4n), &:last-child {
            margin: 20px 0 30px 3.33%;
        }
        &:nth-child(4n+5) {
            margin: 20px 3.33% 30px 0;
        }
    }
}