@import "../../styles/settings.scss";

// ----- ELEMENT STYLES ----- //
.linkBtn {
    border: 2px solid rgba(0,0,0,0);
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

// ----- PAGE STYLES ----- //
.gridContainer {
  margin: 20px auto 50px;
}

.teamSection {
  margin: 30px auto 40px;
  h1, .teamContainer {
    max-width: 800px;
    width: 90%;
  }
  h1 {
    color: $inscopeBlue;
    font-size: 2rem;
    margin: 0 auto 10px;
    text-align: center;
  }
  .teamContainer {
    @include flex (row, space-around);
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.contactBanner {
  padding-top: 80px;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
  width: 80%;
  .headerContainer {
    // min-height: calc(50vh - 160px);
    h1, h2, p {
      margin: 5px auto;
      text-align: center;
    }
    p {
      max-width: 400px;
    }
  }
  .contactContainer {
    @include flex (column, center);
    align-items: center;
    // background: $lightGrey;
    margin: 15px auto;
    // min-height: calc(50vh - 160px);
    // padding: 40px 0;
    div {
      @include flex(column, space-evenly);
      background: $accentWhite;
      border-radius: 5px;
      box-shadow: -3px 3px 8px rgba($mediumGrey,0.8);
      // height: 220px;
      margin: 15px auto;
      padding: 10px;
      text-align: center;
      // width: 23.33%;
      width: 80%;
      :first-child {
        color: $inscopeBlue;
        font-size: 2rem;
        margin: 5px auto;
      }
      h3 {
        margin: 5px auto;
        font-weight: normal;
      }
      p {
        margin: 5px auto;
        width: 100%;
        &:last-child {
          color: $inscopeBlue;
        }
      }
      a img {
        width: 30px;
      }
    }
  }
  
}

@media (max-height: 480px) {
  .teamSection {
    .teamContainer {
      justify-content: space-between;
    }
  }

  .contactBanner {
    padding-top: 70px;
    .headerContainer {
      margin-top: 0;
    }
    .contactContainer {
      @include flex (row, space-evenly);
      margin: 2vh auto 5vh;
      max-width: 500px;
      div {
        height: 160px;
        width: 220px;
        :first-child {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (min-height: 481px) {
  .gridContainer {
    margin: 50px auto;
  }

  .teamSection {
    margin: 50px auto;
    h1 {
      font-size: 2.2rem;
      margin: 20px auto 30px;
    }
    .teamContainer {
      justify-content: space-between;
    }
  }

  .contactBanner {
    min-height: calc(100vh - 240px);
    .headerContainer {
      @include flex (column, center);
      margin-top: calc(25vh - 160px);
    }
    .contactContainer {
      @include flex (row, space-evenly);
      margin: 2vh auto 4vh;
      max-width: 600px;
      div {
        height: 220px;
        width: 240px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .teamSection {
    h1, .teamContainer {
      max-width: 80%;
    }
  }
}
