@import "../../styles/settings.scss";

// ----- ELEMENT STYLES ----- //
h1 {
  color: $inscopeBlue;
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  color: $mediumGrey;
  font-size: 1rem;
}
p {
  color: $mediumGrey;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
section {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

.linkBtn {
    border: 2px solid rgba(0,0,0,0);
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

// ----- PAGE STYLES ----- //
.gridContainer {
  margin: 20px auto 50px;
}

.aboutSection {
  @include flex (column, center);
  min-height: calc(100vh - 90px);
  padding-top: $headerHeightMobile;
  h1, h2, p {
      margin: 0 auto;
      text-align: center;
  }
  p {
      margin: 12px 0;
  }
  .btnContainer {
    @include flex (row, center);
    margin: 0 auto;
    .linkBtn {
        border: 2px solid rgba(0,0,0,0);
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        min-width: 140px;
    }
    a {
        align-self: center;
        color: white;
        font-size: 0.9rem;
        line-height: 2.4rem;
        margin: 8px 5px;
    }
    :first-child {
      background: $salmonBerry;
      transition: all 200ms ease-in-out;
      &:hover {
          box-shadow: -1px 1px 6px rgba(0,0,0,0.6);
          background: rgb(221, 66, 58);
      }
    }
    :last-child {
      background: $mediumGrey;
      transition: all 200ms ease-in-out;
      &:hover {
          box-shadow: -1px 1px 6px rgba(0,0,0,0.6);
          background: rgb(133, 133, 133);
      }
    }
  }
}

.teamSection {
  margin: 30px auto 40px;
  h2 {
    color: $inscopeBlue;
    margin: 0 auto 10px;
    text-align: center;
  }
  .teamContainer {
    @include flex (row, space-around);
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.contactSection {
  padding-top: 80px;
  min-height: calc(100vh - 200px);
  .headerContainer {
    h1, h2, p {
      margin: 5px auto;
      text-align: center;
    }
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      max-width: 400px;
    }
  }
  .contactContainer {
    @include flex (column, center);
    align-items: center;
    margin: 15px auto;
    div {
      @include flex(column, flex-start);
      border-radius: 5px;
      box-shadow: -3px 3px 8px rgba($mediumGrey,0.8);
      margin: 15px auto;
      padding: 10px;
      text-align: center;
      width: 80%;
      :first-child {
        color: $inscopeBlue;
        font-size: 2rem;
        margin: 5px auto;
      }
      h3 {
        font-size: 1.1rem;
        margin: 5px auto;
        font-weight: normal;
      }
      h4 {
        font-weight: normal;
        margin: 5px auto;
        width: 100%;
      }
      a {
        color: $inscopeBlue;
      }
      a img {
        width: 30px;
      }
    }
  }
}

// ----- MEDIA QUERIES ----- //
@media (max-height: 480px) {
  h1 {
    font-size: 1.6rem;
  }
  
  h2 {
    font-size: 1.4rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  h4 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .aboutSection {
    min-height: calc(100vh - 70px);
    padding: $headerHeightMobile 10px 0 10px;
    p {
      margin: 8px auto;
      width: 80%;
    }
  }

  .teamSection {
    .teamContainer {
      justify-content: space-between;
    }
  }

  .contactSection {
    padding-top: 70px;
    .headerContainer {
      margin-top: 0;
    }
    .contactContainer {
      @include flex (row, space-evenly);
      margin: 2vh auto 5vh;
      max-width: 500px;
      div {
        height: 160px;
        width: 220px;
        :first-child {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (min-height: 481px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.05rem;
  }
  p {
    font-size: 1.05rem;
    line-height: 1.8rem;
  }
  .gridContainer {
    margin: 50px auto;
  }

  .aboutSection {
    min-height: calc(100vh - 160px);
    position: relative;
    align-self: center;
    margin-bottom: 0px;
    p {
        margin: 20px auto;
        width: 80%;
    }
    .btnContainer {
      @include flex (row, center);
      margin: 0;
      .linkBtn {
        min-width: 140px;
      }
      a {
        font-size: 0.95rem;
        height: 2.7rem;
        line-height: 2.4rem;
        margin: 8px 20px 0 0;
      }
    }
  }

  .teamSection {
    margin: 50px auto;
    h2 {
      margin: 20px auto 30px;
    }
    .teamContainer {
      justify-content: space-between;
    }
  }

  .contactSection {
    min-height: calc(100vh - 240px);
    .headerContainer {
      @include flex (column, center);
      margin-top: calc(25vh - 160px);
    }
    .contactContainer {
      @include flex (row, space-evenly);
      margin: 2vh auto 4vh;
      max-width: 600px;
      div {
        height: 220px;
        width: 240px;
        :first-child, h3 {
          margin: 10px auto;
        }
        h4 {
          margin: 8px auto;
        }
        a {
          color: $inscopeBlue;
          line-height: 3rem;
        }
        a img {
          padding-top: 5px;
          width: 30px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  section {
    max-width: 1200px;
    width: 80%;
  }

  .aboutSection {
    min-height: calc(100vh - 200px);
    padding-top: $headerHeight;
    p {
      margin: 20px auto 10px;
      max-width: 600px;
      width: 80%;
    }
    .btnContainer a {
      margin: 20px 20px 0 0;
    }
  }
}
