.banner {
    .title-container {
        padding-top: 23vh;
        min-height: calc(100vh - 100px);
        h1, h2 {
            font-size: 3rem;
            margin: 0 auto;
            max-width: 95%;
            text-align: center;
        }
        h1 {
            color: $inscopeBlue;
        }
        .btn-container {
            @include flex (column, center);
            margin: 1.6rem auto;
            max-width: 80%;
            a {
                align-self: center;
                color: white;
                font-size: 1.1rem;
                height: 3rem;
                line-height: 2.8rem;
                margin: 0.8rem;
                width: 12.4rem;
            }
            :first-child {
                background: $salmonBerry;
                transition: all 200ms ease-in-out;
                &:hover {
                    background: white;
                    border: 2px solid $salmonBerry;
                    color: black;
                }
            }
            :last-child {
                background: $mediumGrey;
                transition: all 200ms ease-in-out;
                &:hover {
                    background: white;
                    border: 2px solid $mediumGrey;
                    color: black;
                }
            }
        }
    }
    ul {
        @include flex (column, center);
        background: $inscopeBlue;
        height: 270px;
        list-style: none;
        margin: 0 auto;
        transition: background 200ms ease-in-out;
        li {
            color: rgb(255,255,255);
            // color: $inscopeBlue;
            font-size: 1.1rem;
            margin: 2rem auto;
            // opacity: 0;
            // transition: opacity 200ms ease-in-out;
            width: 50%;
            :first-child {
                color: rgb(255,255,255);
                // color: $inscopeBlue;
                font-size: 1.2rem;
                margin-right: 0.5rem;
                transition: color 200ms ease-in-out;
            }
        }
    }
}

// html:not([data-scroll="0"]) {
//     .banner {
//         ul {
//             background: rgb(255,255,255);
//             li {
//                 color: $inscopeBlue;
//                 opacity: 1;
//                 :first-child {
//                     color: $inscopeBlue;
//                 }
//             }
//         }
//     }
// }

@media (min-width: 768px) {
    .banner {
        .title-container {
            min-height: calc(100vh - 120px);
            margin: 0 auto;
            max-width: 80%;
            padding-top: 30vh;
            .btn-container {
                @include flex (row, center);
                margin: 0 auto;
                a {
                    font-size: 1rem;
                    height: 2.7rem;
                    line-height: 2.4rem;
                    margin: 2rem;
                    width: 10.2rem;
                }
            }
        }
        ul {
            @include flex (row, space-around);
            height: 120px;
            li {
                align-self: center;
                padding-left: 0;
                text-align: center;
            }
        }
    }
}
