@import "../../styles/config.scss";

.block {
    margin: 20px;
    max-width: 800px;
    width: 90%;
    .imgContainer {
        height: 90vw;
        margin: 0px auto;
        max-height: 400px;
        max-width: 400px;
        overflow: hidden;
        width: 90vw;
        img {
            max-height: 90vw;
        }
    }
    .contentContainer {
        @include flex (column, center);
        h4 {
            font-size: 1.8rem;
            margin: 20px auto 10px;
            text-align: center;
        }
        p {
            color: $mediumGrey;
            margin: 10px auto;
            max-width: 400px;
            text-align: center;
        }
        .linkBtn {
            border: 2px solid rgba(0,0,0,0);
            border-radius: 6px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
        }
        a {
            background: $salmonBerry;
            color: rgb(255,255,255);
            margin: 10px auto 40px;
            padding: 10px 20px;
            transition: all 200ms ease-in-out;
            &:hover {
                box-shadow: -1px 1px 6px rgba(0,0,0,0.6);
                background: rgb(221, 66, 58);
            }
        }
    }
}

@media (min-width: 768px) {
    .block {
        margin: auto;
        @include flex (row, center);
        .imgContainer {
            height: 400px;
            width: 400px;
            img {
                max-height: 400px;
            }
        }
        .contentContainer {
            @include flex (column, center);
            height: 400px;
            width: 400px;
            h4 {
                width: 90%;
            }
            p {
                margin: 20px auto;
                width: 85%;
            }
            a {
                margin: 20px auto;
            }
        }
    }
    .block:nth-child(even) {
        flex-direction: row-reverse;
    }
}
