// ----- COLORS ----- //
$accentWhite: rgb(255,255,255);
$lightGrey: rgb(185, 185, 185);
$mediumGrey: rgb(128,128,128);
$darkGrey: rgb(90,90,90);
$shadowGrey: rgb(60,60,60);
$inscopeBlue: rgb(78,103,167);
$salmonBerry: rgb(202,65,57);
$limeGreen: rgb(49,178,73);
$burntYellow: rgb(206,159,6);

// ----- ELEMENT SIZES ----- //
$headerHeightMobile: 70px;
$headerHeight: 80px;
$bannerHeightMobile: 210px;
$bannerHeightTablet: 160px;
$bannerHeightLarge: 200px;
$footerHeightMobile: 200px;
$footerHeight: 240px;