.section {
    margin: 0px 20px;
    max-width: 800px;
    width: 90%;
    .img-container {
        height: 90vw;
        margin: 0px auto;
        max-height: 400px;
        max-width: 400px;
        overflow: hidden;
        width: 90vw;
        img {
            max-height: 90vw;
        }
    }
    .content-container {
        @include flex (column, center);
        h4 {
            font-size: 2rem;
            margin: 20px auto 10px;
            text-align: center;
        }
        p {
            margin: 10px auto 20px;
        }
        a {
            background: $salmonBerry;
            color: rgb(255,255,255);
            margin: 20px auto;
            padding: 10px 20px;
        }
    }
}

.section:first-child {
    margin-top: 100px;
}

.section:last-child {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .section {
        margin: auto;
        @include flex (row, center);
        .img-container {
            height: 400px;
            width: 400px;
            img {
                max-height: 400px;
            }
        }
        .content-container {
            @include flex (column, center);
            height: 400px;
            width: 400px;
            h4 {
                padding: 10px;
                width: 90%;
            }
            p {
                width: 85%;
            }
            a {
                padding: 0.7rem 1.3rem;
            }
        }
    }
    .section:nth-child(odd) {
        flex-direction: row-reverse;
    }
}
