@import "../../styles/config.scss";

footer {
    @include flex (column, space-around);
    background: $inscopeBlue;
    color: white;
    height: $footerHeightMobile;
    padding: 10px;
    width: 100%;
    ul {
        @include flex (row, center);
        margin: 0 auto;
        max-width: 600px;
        li {
            cursor: pointer;
            font-size: 0.9rem;
            list-style: none;
            margin: 0 30px;
            a {
                color: white;
            }
        }
    }
    .socialLinks {
        max-width: 400px;
        li {
            margin: 0 20px;
            img {
                width: 20px;
            }
        }
    }
    p {
        color: $accentWhite;
        font-size: 0.9rem;
        text-align: center;
    }
}

@media (min-width: 768px) {
    footer {
        height: $footerHeight;
        ul {
            li {
                margin: 0 50px;
            }
        }
        .socialLinks {
            li {
                margin: 0 30px;
            }
        }
    }
}