@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  font-family: lato, sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.banner .titleContainer {
  padding-top: 23vh;
  min-height: calc(100vh - 100px);
}

.banner .titleContainer h1, .banner .titleContainer h2 {
  font-size: 3rem;
  margin: 0 auto;
  max-width: 95%;
  text-align: center;
}

.banner .titleContainer h1 {
  color: #4e67a7;
}

.banner .titleContainer .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.6rem auto;
  max-width: 80%;
}

.banner .titleContainer .btnContainer .linkBtn {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.banner .titleContainer .btnContainer a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 1.1rem;
  height: 3rem;
  line-height: 2.8rem;
  margin: 0.8rem;
  width: 12.4rem;
}

.banner .titleContainer .btnContainer :first-child {
  background: #ca4139;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.banner .titleContainer .btnContainer :first-child:hover {
  -webkit-box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.6);
          box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.6);
  background: #dd423a;
}

.banner .titleContainer .btnContainer :last-child {
  background: gray;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.banner .titleContainer .btnContainer :last-child:hover {
  -webkit-box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.6);
          box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.6);
  background: #858585;
}

.banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #4e67a7;
  height: 270px;
  list-style: none;
  margin: 0 auto 20px;
  -webkit-transition: background 150ms ease-in-out;
  transition: background 150ms ease-in-out;
}

.banner ul li {
  color: white;
  font-size: 1.1rem;
  margin: 20px auto;
  min-width: 200px;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  width: 40%;
}

.banner ul li :first-child {
  color: white;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

html:not([data-scroll="0"]) .banner ul {
  background: white;
}

html:not([data-scroll="0"]) .banner ul li {
  color: #4e67a7;
}

html:not([data-scroll="0"]) .banner ul li :first-child {
  color: #4e67a7;
}

@media (min-width: 768px) {
  .banner .titleContainer {
    min-height: calc(100vh - 120px);
    margin: 0 auto;
    max-width: 80%;
    padding-top: 30vh;
  }
  .banner .titleContainer .btnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .banner .titleContainer .btnContainer a {
    font-size: 1rem;
    height: 2.7rem;
    line-height: 2.4rem;
    margin: 2rem;
    width: 10.2rem;
  }
  .banner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 120px;
  }
  .banner ul li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.1rem;
    margin: 20px;
    max-width: 300px;
    padding-left: 0;
    text-align: center;
    width: 33.3%;
  }
}
/*# sourceMappingURL=banner.module.css.map */