@import "../../styles/config.scss";

.banner {
    ul {
        @include flex (column, space-around);
        background: $inscopeBlue;
        height: $bannerHeightMobile;
        margin: 0 auto;
        padding-top: 35px;
        li {
            @include flex (row, center);
            align-items: center;
            color: $accentWhite;
            font-size: 0.9rem;
            padding-bottom: 35px;
            width: 100%;
            :first-child {
                color: $accentWhite;
                font-size: 1.2rem;
                margin-right: 0.5rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .banner {
        ul {
            @include flex (row, center);
            height: $bannerHeightTablet;
            padding-top: 0;
            li {
                @include flex (column, center);
                font-size: 1.1rem;
                max-width: 400px;
                padding: 80px 0;
                text-align: center;
                width: 33.3%;
                :first-child {
                    font-size: 2.5rem;
                    margin: 0 auto 15px;
                }
            }
        }
    }
}

@media (max-height: 480px) {
    .banner {
        ul {
            @include flex (row, center);
            height: 70px;
            padding-top: 0;
            li {
                @include flex (column, center);
                font-size: 0.8rem;
                max-width: 300px;
                padding: 0;
                :first-child {
                    font-size: 1.1rem;
                    margin: 0 auto 8px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .banner {
        ul {
            height: $bannerHeightLarge;
            li {
                font-size: 1.2rem;
                margin: 0;
                max-width: 500px;
                :first-child {
                    font-size: 3.5rem;
                }
            }
        }
    }
}
